<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="qd_users_count" data-view="QdUsers" data-title="Users Count" data-prefix="#" data-min="0" data-max="100"></div>
    </li>
    <li data-row="2" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="qd_events_count" data-view="QdEvents" data-title="Events Count"></div>
    </li>
    <li data-row="1" data-col="3" data-sizex="1" data-sizey="2">
      <div data-id="qd_recent_signups" data-view="QdRecentSignups" data-title="Recent Signups"></div>
    </li>
    <li data-row="1" data-col="4" data-sizex="1" data-sizey="2">
      <div style="background-color:#ccc;color:#333;height:100%;padding-top:20%;padding-left:10%;"  data-title="QuantifiedDev API Node Dependencies Status">
        <h4>Node packages Dependencies Status<h4>
          <div >
            <a href="https://david-dm.org/QuantifiedDev/api" title="Dependency status"><img src="https://david-dm.org/QuantifiedDev/api.svg"/></a>
          </div>
      </div>
    </li>
  </ul>
</div>
