<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="4" data-sizey="2">
      <div data-id="qd_users_count" data-view="QdUsers" data-title="QuantifiedDev Users Count" data-prefix="#" data-min="0" data-max="100"></div>
    </li>
    </li>
  </ul>
</div>
